<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layout :: headerFragment">
</head>
<body>
<div id="container">

  <form action="#" th:action="@{'/shopping/api/v1/front/receipt'}" th:method="get">
    <button type="submit" class="btn">
      Receipt
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/discount'}" th:method="get">
    <button type="submit" class="btn">
      Discount
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/book'}" th:method="get">
    <button type="submit" class="btn">
      Add Book
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/jacket'}" th:method="get" >
    <button type="submit" class="btn">
      Add Jacket
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/shoe'}" th:method="get" >
    <button type="submit" class="btn">
      Add Shoe
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/tshirt'}" th:method="get" >
    <button type="submit" class="btn">
      Add Tshirt
    </button>
  </form>
  <form action="#" th:action="@{'/shopping/api/v1/front/clear'}" th:method="get" >
    <button type="submit" class="btn">
      Clear
    </button>
  </form>

  <h1>Receipt:</h1>

  Total cost: <p th:text=${totalCostReceipt}>Username will be rendered here</p>
  <p th:text="${totalCostReceipt}">Text...</p>
  <p>Discount:</p>
  <span th:text="${totalCostReceipt}" th:remove="tag">userName</span>
  <p th:text="${discountReceipt}">Text...</p>
  <p>Total discount:</p>
  <p th:text="${totalDiscountReceipt}">Text...</p>

  <h1>Discount:</h1>

  <p>Total cost:</p>
  <p th:text="${totalCostDiscount}">Text...</p>
  <p>Discount:</p>
  <p th:text="${discountDiscount}">Text...</p>
  <p>Discount cost:</p>
  <p th:text="${discountCostDiscount}">Text...</p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>price</th>
      <th>title</th>
      <th>author</th>
      <th>description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.price}">Text ...</td>
      <td th:text="${book.title}">Text ...</td>
      <td th:text="${book.author}">Text ...</td>
      <td th:text="${book.description}">Text...</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>price</th>
      <th>mark</th>
      <th>size</th>
      <th>producer</th>
      <th>description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jacket : ${jackets}">
      <td th:text="${jacket.price}">Text ...</td>
      <td th:text="${jacket.mark}">Text ...</td>
      <td th:text="${jacket.size}">Text ...</td>
      <td th:text="${jacket.producer}">Text...</td>
      <td th:text="${jacket.description}">Text...</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>price</th>
      <th>mark</th>
      <th>size</th>
      <th>producer</th>
      <th>description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shoe : ${shoes}">
      <td th:text="${shoe.price}">Text ...</td>
      <td th:text="${shoe.mark}">Text ...</td>
      <td th:text="${shoe.size}">Text ...</td>
      <td th:text="${shoe.producer}">Text...</td>
      <td th:text="${shoe.description}">Text...</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>price</th>
      <th>mark</th>
      <th>size</th>
      <th>producer</th>
      <th>description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tshirt : ${tshirts}">
      <td th:text="${tshirt.price}">Text ...</td>
      <td th:text="${tshirt.mark}">Text ...</td>
      <td th:text="${tshirt.size}">Text ...</td>
      <td th:text="${tshirt.producer}">Text...</td>
      <td th:text="${tshirt.description}">Text...</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- container -->
</body>
</html>
